---
const { text, href = "/", id = "" } = Astro.props;
---
<div class="button">
   <a id={id}  href={href}>
    <p>{text}</p>
  </a>
</div>
 
  

<style>
  .button {
    background-color: #fcf6ac;
    width: 550px;
    border: solid 4px #fcf6ac;
    padding: 10px;
    align-items: center;
    justify-items: center;
    display: grid;
  }
  .button a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    text-decoration: none;
    place-self: center;
    justify-self: center;
  }
  .button:hover {
    background-color: #000000;
    width: 550px;
    border: solid 4px #000000;
    padding: 10px;
    align-items: center;
    justify-items: center;
  }
  .button:hover a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #fcf6ac;
    text-decoration: none;
    place-self: center;
    justify-self: center;
  }
  @media (max-width: 700px) {
    .button {
      background-color: #fcf6ac;
      width: 350px;
      border: solid 4px #fcf6ac;
      color: #000000;
      padding: 10px;
    }
    .button a {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #000000;
      text-decoration: none;
      justify-self: center;
    align-self: center;
    }
    .button:hover {
      background-color: #000000;
      width: 350px;
      border: solid 4px #000000;
      padding: 10px;
    }
   .button:hover a {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #fcf6ac;
      text-decoration: none;
      justify-self: center;
    align-self: center;
    }
  }
</style>
